includes:
	- phpstan-baseline.neon

parameters:
  level: max
  treatPhpDocTypesAsCertain: false

  paths:
    - src
    - tests

  excludePaths:
    - tests/*/data/*

  # PseudoTypes supported by phpdocumentor/type-resolver but not by PHPStan
  typeAliases:
    html-escaped-string: 'string'
    lowercase-string: 'string'
    non-empty-string: 'string'

  ignoreErrors:
    - '#on an unknown class PHPUnit\Framework\MockObject\Generator\Generator#'
