parameters:
	ignoreErrors:
		-
			message: "#^Call to function method_exists\\(\\) with 'PHPUnit\\\\\\\\Runner\\\\\\\\Version' and 'majorVersionNumber' will always evaluate to true\\.$#"
			count: 1
			path: src/Constraint/ValueProvider/Compound/InstanceProvider.php

		-
			message: "#^Call to method getMock\\(\\) on an unknown class PHPUnit\\\\Framework\\\\MockObject\\\\Generator\\.$#"
			count: 2
			path: src/Constraint/ValueProvider/Compound/InstanceProvider.php

		-
			message: "#^Call to method testDouble\\(\\) on an unknown class PHPUnit\\\\Framework\\\\MockObject\\\\Generator\\.$#"
			count: 2
			path: src/Constraint/ValueProvider/Compound/InstanceProvider.php

		-
			message: "#^Instantiated class PHPUnit\\\\Framework\\\\MockObject\\\\Generator not found\\.$#"
			count: 1
			path: src/Constraint/ValueProvider/Compound/InstanceProvider.php

		-
			message: "#^PHPDoc tag @var for variable \\$mockGenerator contains unknown class PHPUnit\\\\Framework\\\\MockObject\\\\Generator\\.$#"
			count: 1
			path: src/Constraint/ValueProvider/Compound/InstanceProvider.php

		-
			message: "#^Call to method getMockForAbstractClass\\(\\) on an unknown class PHPUnit\\\\Framework\\\\MockObject\\\\Generator\\.$#"
			count: 2
			path: src/Constraint/ValueProvider/Compound/IntersectionProvider.php

		-
			message: "#^Call to method mockObjectForAbstractClass\\(\\) on an unknown class PHPUnit\\\\Framework\\\\MockObject\\\\Generator\\.$#"
			count: 1
			path: src/Constraint/ValueProvider/Compound/IntersectionProvider.php

		-
			message: "#^Instantiated class PHPUnit\\\\Framework\\\\MockObject\\\\Generator not found\\.$#"
			count: 1
			path: src/Constraint/ValueProvider/Compound/IntersectionProvider.php

		-
			message: "#^PHPDoc tag @var for variable \\$mockGenerator contains unknown class PHPUnit\\\\Framework\\\\MockObject\\\\Generator\\.$#"
			count: 1
			path: src/Constraint/ValueProvider/Compound/IntersectionProvider.php
